<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
   <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <title>瑞钱宝-国企参股 华融天泽参股的互联网金融平台</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="/www/img/logo.png" rel="shortcut icon" type="image/x-icon"/>
    <link href="/www/js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/www/js/jquery/dist/jquery-1.11.2.min.js"></script>
    <script  src="/www/js/jquery_lazyload-1.7.2/jquery.lazyload.js"></script>
    <script src="/www/js/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/www/js/swiper.min.js"></script>
    <link href="/www/css/common.css"  rel="stylesheet" type="text/css"/>
    <link href="/www/css/swiper.min.css"  rel="stylesheet" type="text/css"/>
    <link href="/www/css/rqbao_index.css"  rel="stylesheet" type="text/css"/>
   <link href="/www/css/rqbao_index.css"  rel="stylesheet" type="text/css"/>
   <link href="/www/css/layout.css" rel="stylesheet" type="text/css"/>
    {{{block ("head")}}}
</head>
<body>

{{{include ("./head")}}}

<!--内容部分-->

{{{block ("body")}}}

<!--/内容部分-->


{{{include ("./footer")}}}


</body>
</html>
 {{{block ("footerJS")}}}
<script src="/www/js/own/search.js"></script>
